.form-component{
    /* margin: 10px 0px !important; */
    padding: 10px 8px !important;
    width: 100%;
}
.form-group1 {
    /* width: 100%; */
    margin: 25px 0px;
    padding: 15px;
    border: 1.5px solid rgb(189, 189, 189);
    border-radius: 5px;
  }