.student-details-bar {
  top: 64px !important;
}

.hide{
  display: block;
}
.icon-hide{
  display: none;
}
@media only screen and (max-width: 600px) {
  .student-details-bar {
    top: 56px !important;
  }
  .hide{
    display: none;
  }
  .icon-hide{
    display: block;
  }
}

.test > *{
  color:white!important;
}

.test svg{
  color:white;
  border-radius: 5px;
}

.test .MuiSelect-select:focus{
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}
.test .MuiSelect-select{
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}
.test label + .MuiInput-underline:hover:not(.Mui-disabled):before{
  border-bottom:0px;
}
.test {
  text-align: center;
}

